h1{
  font-size: 3.2vw;
  text-align: center;
  margin: 10px;
  color: rgb(177, 98, 2);
}

form{
  margin: 1vw;
}

form-label{
  font-size: 1.5vw;
  color: rgb(177, 98, 2);
  margin-left: vw;
}

.form-control{
  margin-top: 5px;
  width: fit-content;
}

.btn{
  margin-top: 5px;
  margin-left: 3vw;
}

.container{
  max-width: 612px;
  width: 612px;
  padding: 0px;
}

.list-group-item{
  margin-bottom: 5px;
}

footer{
  font-size: .7vw;
  color: rgb(177, 98, 2);
  opacity: 70%;
  margin: .2vw .4vw;
  padding-top: 1vw;
}